.section {
	position: relative;
	margin-bottom: 0.75rem;

	min-height: 695px;

	display: flex;
	justify-content: center;
}

.section.promo {
	min-height: 600px;
	min-width: 50%;

	flex: 1;
}

.section.mobile {
	min-width: 100%;
}

.section--image {
	position: absolute;
	z-index: -1;

	max-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

/* REGULAR SECTION */
/* 695px */
/* PROMO SECTION */
/* 550px */
