.footer {
	background-color: #f5f5f7;

	/* SUBJECT TO CHANGE */
	margin-top: 2rem;
	/*  */

	padding-block: 1.25rem;
	padding-inline: 1.5rem;
}

.footer--content {
	width: 100%;
	max-width: 1000px;

	margin: auto;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer--content__cols {
	display: flex;
	justify-content: space-between;
}

.shop-and-learn,
.services,
.account,
.apple-store,
.for-business,
.for-education,
.apple-values,
.about-apple {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	font-size: 0.75rem;
}

.second--col,
.fourth--col,
.fifth--col {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.retailer,
.copyright {
	font-size: 0.8rem;
	color: var(--gray);
}

.retailer {
	padding-bottom: 0.75rem;
	border-bottom: 1px solid var(--gray-light);
}

.retailer p > a {
	margin-inline: 0.25rem;
}

.copyright {
	display: flex;
	justify-content: space-between;
}

.copyright--links {
	display: flex;
	gap: 0.75rem;
	color: var(--gray);
}

.copyright--links a {
	color: var(--gray);
	border-right: 1px solid var(--gray-light);
	padding-right: 0.5rem;
}

.col-header {
	font-weight: 500;
	font-size: 0.85rem;
}

.footer--link {
	color: var(--gray-dark);

	font-weight: 400;
	font-size: 0.75rem;
	text-decoration: none;
}

.footer--link:hover {
	text-decoration: underline;
}

.link--retail {
	color: var(--blue);
}

@media screen and (max-width: 834px) {
	.footer--content__cols {
		flex-direction: column;
	}

	.second--col,
	.fourth--col,
	.fifth--col {
		gap: 0rem;
	}

	.col-header {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;

		font-size: 0.75rem;
		font-weight: 400;
		color: var(--gray);

		padding-block: 0.75rem;

		border-bottom: 1px solid var(--gray-light);
	}

	.col-header__plus-sign {
		padding-inline: 0.5rem;
	}

	.col-header:hover {
		color: var(--black);
		cursor: pointer;
	}

	.shop-and-learn > .footer--link,
	.services > .footer--link,
	.account > .footer--link,
	.apple-store > .footer--link,
	.for-business > .footer--link,
	.for-education > .footer--link,
	.apple-values > .footer--link,
	.about-apple > .footer--link {
		display: none;
	}

	.copyright {
		flex-direction: column;
		gap: 0.5rem;
	}
}
